body,html 


{   height: auto;
  width: auto;
  background: rgb(0, 0, 0);
background: linear-gradient(90deg, rgb(29, 28, 34) 0%, rgba(0,0,0,1) 100%);
padding: 0;
margin: 0

    }
    body {
      display: block;
      margin: 8px;
      
  }
    
head {
  display: none;
}
meta {
display: none;
}
title {
display: none;
}
link {
display: none;
}


  

  
  








::before, ::after {
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }


    .block {
      background-image: url('tys.jpg');
      width: 100%;
      height: 100%;
      position: absolute;  left: -2px;top: -2px;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      opacity:.25;
      background-attachment: fixed;
      background-position: top;  
      
    }
    

    .block2 {
      background-image: url('рар.png');
      width: 60%;
      height:60%;
      position: absolute;  left: 16%;top: 200%;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover; 
        float: left;
        margin-right: 5px;
        opacity: 0.4;
        filter: alpha(opacity=40)
 
       
      
    }
    .block3 {
      background-image: url('mol.png');
      width: 60%;
      height:60%;
      position: absolute;  left: 40%;top: 40%;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover; 
      float: left;
      margin-right: 5px;
      opacity: 0.4;
      filter: alpha(opacity=20)
 
       
      
    }
    .block4 {
      background-image: url('jos.png');
      width: 60%;
      height:60%;
      position: absolute;  left: 40%;top: 40%;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover; 
      float: left;
      margin-right: 5px;
      opacity: 0.5;
      filter: alpha(opacity=10)
 
       
      
    }

    



    

.ryr{

    position: absolute;top: 50%;
    color: #ffffffa6;
}

.ryr2{
font-size: 200%;
    position: absolute;  left: 3%;top:58%;
    color: #ffffff69;
}

.ryr3{
  font-size: 80%;
      position: absolute;  left:20%;top: 100%;
      color: #ffffff69;
      
  }
  .ryr4{
    font-size: 80%;
        position: absolute;  left:42%;top: 230%;
        color: #ffffff69;
        
    }

    .ryr5{
      font-size: 65%;
          position: absolute;  left:43%;top: 206%;
          color: #ffffff69;
          
      }

      .ryr6{
        font-size: 80%;
            position: absolute;  left:65%;top: 230%;
            color: #ffffff69;
            
        }

        .ryr7{
          font-size: 80%;
              position: absolute;  left:23%;top: 230%;
              color: #ffffff69;
              
          }
          .ryr8{
            font-size: 70%;
                position: absolute;  left:44%;top: 253%;
                color: #ffffff69;
                
            }
            .ryr9{
              font-size: 95%;
                  position: absolute;  left:35%;top: 226%;
                  color: #ffffff69;
                  
              }

              .ryr10{
                font-size: 95%;
                    position: absolute;  left:33%;top: 236%;
                    color: #ffffff69;
                    
                }
                .ryr11{
                  font-size: 95%;
                      position: absolute;  left:39%;top: 243%;
                      color: #ffffff69;
                      
                  }
                  .ryr12{
                    font-size: 95%;
                        position: absolute;  left:50%;top: 243%;
                        color: #ffffff69;
                        
                    }

                    .ryr13{
                      font-size: 95%;
                          position: absolute;  left:57%;top: 236%;
                          color: #ffffff69;
                          
                      } 

                      .ryr14{
                        font-size: 95%;
                            position: absolute;  left:57%;top: 226%;
                            color: #ffffff69;
                            
                        }

                        .ryr15{
                          font-size: 95%;
                              position: absolute;  left:39%;top: 216%;
                              color: #ffffff69;
                              
                          }
                          .ryr16{
                            font-size: 95%;
                                position: absolute;  left:50%;top: 216%;
                                color: #ffffff69;
                                
                            }      









  @font-face {
    font-family: 'Stallions';
    font-style: normal;
    font-weight: 400;
    src: local('Stallions'), url('https://fonts.cdnfonts.com/s/21021/Stallions - personnal use ONLY.woff') format('woff');
    font-size: 20%;
}
  .glow-on-hover {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffffc4;
    background: #111;
  
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #0d00ff, #0080ff, #00f7ff, #9d00ff, #00ffd5, #8400ff, #7a00ff, #ff00c8, #00ff99);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
    .ff2{
      position: absolute;  left: 320px;top:950px;
      font-size: 15px;
    }
    .ff1{
      position: absolute;  left: 440px;top:950px;
      font-size: 15px;
    }
    .ff3{
      position: absolute;  left: 560px;top:950px;
      font-size: 15px;
    }
    .ff4{
      position: absolute;  left: 680px;top:950px;
      font-size: 15px;
    }




    .adaptivny-slayder {
      position: relative;
      max-width: 680px;
      margin: 50px auto;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    }
    
    .adaptivny-slayder input[name="kadoves"] {
      display: none;
    }
    
    .kadoves {
      position: absolute;
      left: 0;
      bottom: -40px;
      text-align: center;
      width: 100%;
    }
    
    .kadoves label {
      display: inline-block;
      width: 8px;
      height: 8px;
      cursor: pointer;
      margin: 0 3px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
      border-radius: 50%;
      border: 5px solid #2f363c;
      background-color: #738290;
    }
    
    #slaid1:checked~.kadoves label[for="slaid1"] {
      background-color: white;
    }
    
    #slaid2:checked~.kadoves label[for="slaid2"] {
      background-color: white;
    }
    
    #slaid3:checked~.kadoves label[for="slaid3"] {
      background-color: white;
    }
    #slaid4:checked~.kadoves label[for="slaid4"] {
      background-color: white;
    }
    
    .adaptivny-slayder-lasekun {
      overflow: hidden;
       
    }
    
    .abusteku-deagulus {
      display: flex;
      width: 100%;
      transition: all 0.5s;
    }
    
    .abusteku-deagulus img {
      width: 100%;
      flex-shrink:0;
    }
    
    #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
      transform: translate(0);
    }
    
    #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
      transform: translateX(-100%);
    }
    
    #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
      transform: translateX(-200%);
    }
    #slaid4:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
      transform: translateX(-300%);
    }
  


.ew{
  position: absolute;
  top: 120%;
 
  width: 93%;


}
.ged{
  position: absolute;
  top: -3%;
  left: 140px;

}


























html, body
{

	height: 100%;
}

#wrap
{
	width: 100%;
	height: 90%;
	position: relative;
	margin: 0 auto 0 auto;
	overflow: hidden;

  top:200%;
  left: -3%;
}

#lightings
{
	bottom: -60px;
	position: absolute;
	width: 100%;
}

section
{

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 100%;
	position: relative;
	margin: auto;

}

#one
{

	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes 
one { from {
-webkit-box-shadow: 0 0 250px 20px #473C78;
}

to { -webkit-box-shadow: 0 0 100px 15px #f72aba; }
}
@-moz-keyframes 
one { from {
-moz-box-shadow: 0 0 250px 20px #473C78;
}

to { -moz-box-shadow: 0 0 100px 15px #f72aba; }
}
@-o-keyframes 
one { from {
-o-box-shadow: 0 0 250px 20px #473C78;
}

to { -o-box-shadow: 0 0 100px 15px #f72aba; }
}

@keyframes 
one { from {
box-shadow: 0 0 250px 20px #473C78;
}

to {box-shadow: 0 0 100px 15px #f72aba; }
}

#two
{
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes 
two { from {
-webkit-box-shadow: 0 0 250px 20px #1821c4;
}

to { -webkit-box-shadow: 0 0 100px 15px #5e9df0; }
}
@-moz-keyframes 
two { from {
-moz-box-shadow: 0 0 250px 20px #1821c4;
}

to { -moz-box-shadow: 0 0 100px 15px #5e9df0; }
}
@-o-keyframes 
two { from {
-o-box-shadow: 0 0 250px 20px #1821c4;
}

to { -o-box-shadow: 0 0 100px 15px #5e9df0; }
}

@keyframes 
two { from {
box-shadow: 0 0 250px 20px #1821c4;
}

to { box-shadow: 0 0 100px 15px #5e9df0; }
}

#three
{
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes 
three { from {
-webkit-box-shadow: 0 0 250px 20px #9d00ff;
}

to { -webkit-box-shadow: 0 0 100px 15px #ff33be; }
}
@-moz-keyframes 
three { from {
-moz-box-shadow: 0 0 250px 20px #9d00ff;
}

to { -moz-box-shadow: 0 0 100px 15px #ff33be; }
}
@-o-keyframes 
three { from {
-o-box-shadow: 0 0 250px 20px #9d00ff;
}

to { -o-box-shadow: 0 0 100px 15px #ff33be; }
}

@keyframes 
three { from {
box-shadow: 0 0 250px 20px #9d00ff;
}

to { box-shadow: 0 0 100px 15px #ff33be; }
}

#four
{
	width: 70%;

	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes 
four { from {
-webkit-box-shadow: 0 0 250px 20px #381878;
}

to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-moz-keyframes 
four { from {
-moz-box-shadow: 0 0 250px 20px #381878;
}

to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-o-keyframes 
four { from {
-o-box-shadow: 0 0 250px 20px #381878;;
}

to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
}

@keyframes 
four { from {
shadow: 0 0 250px 20px #381878;;
}

to { shadow: 0 0 100px 15px #F2BBE9; }
}

#five
{
	width: 60%;

	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes 
five { from {
-webkit-box-shadow: 0 0 250px 20px #42f2d8;
}

to { -webkit-box-shadow: 0 0 100px 15px #adc2f6; }
}
@-moz-keyframes 
five { from {
-moz-box-shadow: 0 0 250px 20px #42f2d8;
}

to { -moz-box-shadow: 0 0 100px 15px #adc2f6;}
}
@-o-keyframes 
five { from {
-o-box-shadow: 0 0 250px 20px #42f2d8;
}

to { -o-box-shadow: 0 0 100px 15px #adc2f6; }
}

@keyframes 
five { from {
box-shadow: 0 0 250px 20px #42f2d8;
}

to { box-shadow: 0 0 100px 15px #adc2f6; }
}
















